@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #00000080;

  --primary-gradient: linear-gradient(to bottom, #f2e1f6 0%, #b5b0f9 100%);
  --secondary-gradient: linear-gradient(to bottom, #ff9a9e 0%, #c4ddfa 100%);

  /* fonts */
  --font-family: "Inter Tight", sans-serif;
}
body {
  font-family: var(--font-family);
  color: var(--black-color);
  background: #f2f3f5;
}
/* --------------------Globle style ----------------- */
.o-container {
  background: linear-gradient(to bottom, #f2f3f5 5%, #5ba5de 30%, #5197cd 50%);
  height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--black-color);
}
img {
  max-width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mt {
  margin-top: clamp(2rem, 5vw, 4rem);
}
  .sub-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px dashed var(--black-color);
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 0.9rem;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .sub-title:hover {
    background-color: #242424;
    color: var(--white-color);
    cursor: pointer;
    border-color: #242424;
  }
.center-all {
  padding: 0 1rem;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-title {
  .sub-title {
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px dashed var(--black-color);
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 0.9rem;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .sub-title:hover {
    background-color: #242424;
    color: var(--white-color);
    cursor: pointer;
    border-color: #242424;
  }
}
.text-container {
  margin-top: 1.5rem;
  .primary-title {
    font-size: clamp(1.5rem, 6vw, 2rem);
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.2;
    margin-top: clamp(0.2rem, 5vw, 0.5rem);
    text-transform: uppercase;
  }
}
.primary-btn {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  border: 2px solid white;
  outline: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: var(--font-family);
  cursor: pointer;
  margin-top: 3rem;
  transition: border-color ease 0.3s;
}
.primary-btn:hover {
  border-color: #242424;
}

/* -------------------- /Globle style ----------------- */
/* --------------------Header style ----------------- */
#header {
  width: 100%;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: transparent;
}
#header .scroll-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .title {
  display: none;
}
#header .nav-links {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 999;
  list-style: none;
}
#header .nav-links.show {
  display: flex;
  animation: slideDown 0.4s ease forwards;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#header .nav-links li {
  list-style: none;
}

#header .nav-links li a {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray-color);
  transition: color 0.3s;
}

#header .nav-links li a.active,
#header .nav-links li a:hover {
  color: var(--black-color);
}
/* hamburger-menu */
#header .hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  z-index: 1100;
  cursor: pointer;
}
#header .hamburger-menu span {
  width: 30px;
  height: 3px;
  background-color: var(--black-color);
  transition: all 0.3s ease;
  border-radius: 18px;
  transform-origin: center;
}
#header .hamburger-menu.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

#header .hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

#header .hamburger-menu.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
/* --------------------Image Style ----------------- */
#image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #5ba5de 0%, #5ba6db 100%);
  padding: 1rem 0;
  .overlay {
    position: relative;
    z-index: 2;
    width: 65vw;
    height: clamp(230px, 35vw, 450px);
    /* background-image: url("https://images.unsplash.com/photo-1637250096679-c10f2751def8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-image: url("https://images.unsplash.com/photo-1611784237592-fdeb33e6e568?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    border-radius: 30px;
    background-size: cover;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  }
}
/* --------------------Work Style ----------------- */
#work-section {
  min-height: 50vh;
  background: linear-gradient(180deg, #5ba5de 0%, #f2f3f5 60%);
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  padding: 0.2rem 0.8rem;
}
.card {
  border-radius: 10px;
  width: 350px;
  height: 420px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  cursor: pointer;
}
.card.flipped {
  transform: rotateY(180deg);
}
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.card-front {
  background: white;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 1, 0.716);
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
}

.card:not(.flipped):hover .hover-text {
  opacity: 1;
}
.card-back {
  background: linear-gradient(180deg, #5ba5de 0%, #f2f3f5 60%);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}
/* --------------------Scroll-brand Style ----------------- */
.branding-marquee {
  width: 100%;
  padding: 2rem 0;
  background: #f2f3f5;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-container::before,
.marquee-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 2;
 pointer-events: none;
}

.marquee-container::before {
  left: 0;
  background: linear-gradient(to right, #f2f3f5, transparent);
}

.marquee-container::after {
  right: 0;
  background: linear-gradient(to left, #f2f3f5, transparent);
}

.marquee-content {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
  will-change: transform;
}

.marquee-item {
  flex-shrink: 0;
  width: 120px;
  height: 60px;
  margin: 0 10px;
  /* background: white; */
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.marquee-item img {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  display: block;
}
@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
/* --------------------client-review Style ----------------- */
#client-review{
    background: linear-gradient(180deg, #f2f3f5 0%,#cadce9  60%);
    padding: 4rem 0;
}
.review-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.review-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: auto;
  width: 320px;
  padding: 2rem 1.5rem;
  border-radius: 15px;
 background: linear-gradient(180deg, #8dc5ef 0%, #f2f3f5 60%);
}
.man_Info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.image-con{
  width: 80px;
  height:80px;
}
.image-con img{
  padding: 0.2rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgb(54, 54, 54);
}
.man_Info .name{
  font-size: 1.2rem;
  font-weight: 500;

}
.say{
  font-size: 1.2rem;
  opacity: 0.6;
}


/* tablet */
@media (min-width: 788px) {
  #header {
    padding: 2rem 4rem;
  }
  #header .nav-links {
    display: flex;
    position: static;
    flex-direction: row;
    width: auto;
    height: auto;
    background: transparent;
    gap: 2rem;
    animation: none;
  }

  #header .nav-links li {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
  }

  #header .nav-links li a {
    font-size: 1.2rem;
  }

  #header .hamburger-menu {
    display: none;
  }
  .text-container {
    margin-top: 1.8rem;
    .primary-title {
      font-size: 2.7rem;
      letter-spacing: -3px;
      line-height: 1.1;
    }
  }

  .card-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    padding: 0.5rem 1.2rem;
  }
  .card {
    border-radius: 15px;
    width: 380px;
    height: 450px;
  }
 .marquee-container::before,
.marquee-container::after {
  width: 100px;
}

 .marquee-item {
    width: 160px;
    height: 80px;
    margin: 0 15px;
  }

  .marquee-item img {
    max-width: 85%;
    max-height: 85%;
  }
  .review-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

}
/* Desktop */
@media (min-width: 1024px) {
  #header .title {
    display: block;
    font-size: 2.2rem;
    font-weight: bold;
  }

  .text-container {
    .primary-title {
      font-size: 4rem;
      letter-spacing: -4px;
      line-height: 1.1;
    }
  }
  .card-grid {
    grid-template-columns: repeat(5, 195px);
    gap: 1rem;
    padding: 0.5rem 1rem;
  }
  .card {
    border-radius: 15px;
    width: 190px;
    height: 280px;
  }
  .marquee-container::before,
.marquee-container::after {
  width: 150px;
}

 .marquee-item {
    width: 200px;
    height: 100px;
    margin: 0 20px;
  }

  .marquee-item img {
    max-width: 90%;
    max-height: 90%;
  }
  .review-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
}
/* Wide-Screen */
@media (min-width: 1200px) {
  .content-title {
    .sub-title {
      font-size: 1.5rem;
      padding: 0.6rem 0.95rem;
      border-radius: 0.9rem;
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  .text-container {
    .primary-title {
      font-size: 4.5rem;
      letter-spacing: -4px;
      line-height: 1.1;
    }
  }
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;
    padding: 0.5rem 1rem;
    word-wrap: wrap;
  }
  .card {
    border-radius: 15px;
    width: 225px;
    height: 320px;
  }
  .marquee-container::before,
.marquee-container::after {
  width: 200px;
}
}
